/*  your css code here. If applicable */

body{
	margin:0;
	 font-family: Arial, Helvetica, sans-serif;
}
.hero{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
img{
	width:350px;
	height:200px;
	object-fit:cover;
}
.text{
	width:250px;
	height:200px;
	padding:10px;
	background-color:lightaqua;
	margin-left:10px;
}
#btn{
	
	background-color:red;
	color:white;
	padding:5px;
	border-radius:5px;
}